<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>DocumCharent</title>
</head>
<body>
  <!-- <nav class="navbar">
    <div class="logo"><a href="/"><h1>Name</h1></a></div>
    <div class="navbtns">
      <div class="navbtn"><a href="/stat"><h3>ALL Data</h3></a></div>
      <div class="navbtn"><a href="/stat"><h3>Statistics</h3></a></div>
      <div class="navbtn"><a href="/stat"><h3>Bar Chart</h3></a></div>
      <div class="navbtn"><a href="/stat"><h3>Pie Chart</h3></a></div>
    </div>
  </nav> -->
  <%- include('../partials/navbar.ejs'); %>
  <div class="dataset">
    <% data.forEach(element => { %>
            <div class="new">
                <img src=<%= element.image %> alt="">
                <h1><%= element.id %></h1>
                <h3><%= element.title %></h3>
                <p class="dis"><%= element.price %></p>
                <p class="dis"><%= element.discription %></p>
                <p class="category"><%= element.category %></p>
                <p class="available"><%= element.sold %></p>
                <p class="data"><%= element.dateOfSale %></p>
            </div>
          
    <% }) %>
  </div>
</body>
</script>
</html>